* {
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Merriweather Sans", sans-serif;
  font-weight: normal;
}

/* Shared Style */
.container {
  max-width: 1220px;
  margin: 0 auto;
}
section {
  margin-top: 120px;
}
p {
  font-family: "Inter", sans-serif;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
h3 {
  color: #070211;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.text-primary {
  color: #f00;
}
/* banner Style */
.banner-image {
  background-image: url("../images/Bannerimage.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.banner-image::before {
  content: "";
  background: linear-gradient(rgba(3, 3, 3, 20), rgba(255, 0, 0, 0) 70.71%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.banner-content {
  padding: 177px 344px 177px 344px;
  text-align: center;
}
.banner-content > .banner-subheading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner-content > .banner-heading {
  color: #fff;
  font-size: 60px;
}

/* Offer Style */
.offer-content {
  text-align: center;
}
.offer-content > .offer-title,
.offer-content > .offer-subheading {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer-content > .offer-subheading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 18px;
}
.offer-content > .offer-heading {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.offer-content-img {
  width: 700px;
  height: 500px;
  text-align: center;
  margin: auto;
}
.offer-content-img img {
  width: 100%;
}

.party-area {
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.party-area::before {
  content: "";
  background: linear-gradient(rgba(3, 3, 3, 20), rgba(255, 0, 0, 0) 70.71%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.party-item {
  padding: 68px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.party-content > .party-heading {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 20px;
}
.party-content > .party-desc {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.party-content > a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

/* Location info Style */
.location-area {
  background: linear-gradient(#e6878788, #fff);
  border-radius: 10px;
}
.location-info {
  text-align: center;
  padding: 126px 0px;
}
.location-info > h5 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.location-info button {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin-top: 40px;
}

/* Fetures Section */
.futures-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.futures-item > .section-subtitle {
  margin-bottom: 15px;
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.futures-item > .section-title {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  color: #070211;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.futures-item > .future-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.future-image {
  /* width: 364.844px;
  height: 364.844px; */
  background-color: #fff;
  border: 10px solid #f00;
  border-radius: 50%;
}
.future-image img {
  padding: 25px;
}
.futures-item > .future-year-heading {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.futures-item > .future-year-description {
  margin: 15px 0px 30px 0px;
}

/* Holydays Section */
.holydays-section-heading {
  text-align: center;
}
.holydays-section-heading h5 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 15px;
}
.holydays-section-heading h3 {
  color: #070211;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
}
.holydays-section-heading > .holydays-text {
  color: #f00;
}
.holydays-section-heading > .holydays-description {
  padding: 0px 250px;
  margin: 20px 0px 60px 0px;
}

.holydays-content {
  display: flex;
  background-image: url("../images/Rectangle2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  justify-content: start;
  align-items: center;
}
.holydays-item {
  position: relative;
}
.holydays-item > .discount-image {
  position: absolute;
  left: -149px;
  top: -160px;
}
.holydays-item > .discount-female {
  margin-top: -215px;
}

/* Portfolio Section Style */
.section-heading > .section-subtitle {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.section-heading > .section-title {
  color: #070211;
  font-size: 48px;
  margin: 16px 0px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.section-heading {
  margin-bottom: 40px;
}
.portfolio-content-container {
  display: flex;
  flex-direction: column;
  /* column-gap: 24px; */
  row-gap: 24px;
}
.portfolio-content {
  display: flex;
  gap: 24px;
}
.portfolio-item {
  width: 424px;
  height: 450px;

  overflow: hidden;
  border-radius: 16px;
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.portfolio-item img:hover {
  height: 120%;
  width: 120%;
}

/* News Letter Style */
.news-letter-content-area {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.news-letter-content {
  padding: 80px 212px;
  text-align: center;
}
.news-letter-content img {
  margin-bottom: 40px;
}
.news-letter-content > .news-letter-heading {
  color: #070211;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.news-letter-content > .news-letter-description {
  margin-bottom: 40px;
}
.news-letter-subscribe-form > form {
  max-width: 500px;
  display: flex;
  margin: 0 auto;
}
.news-letter-subscribe-form > form > input {
  flex-grow: 1;
}
.news-letter-subscribe-form > form > input {
  padding: 25px 0px 25px 30px;
  background-color: #fff;
  border: none;
  border-radius: 40px 0px 0px 40px;
}
.news-letter-subscribe-form > form > input:focus {
  outline: none;
}
.news-letter-subscribe-form > form > .subscribe-btn {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  padding: 22px 15px;
  cursor: pointer;
}
/* .news-letter-subscribe-form > form > label > input {
  padding: 25px 0px 25px 30px;
  background-color: #fff;
  border: none;
  border-radius: 50px 0px 0px 50px;
  max-width: 300px;
}
.news-letter-subscribe-form > form > label > input :focus {
  outline: none;
}

.news-letter-subscribe-form > form > .subscribe-btn {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  padding: 22px 56px;
} */
footer {
  background-color: #070211;
  margin-top: 120px;
}
.footer-content {
  padding: 120px 140px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer-content > hr {
  background: rgba(255, 255, 255, 0.15);
}
.top-content p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.top-content ul li {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  list-style-type: none;
}
.footer-middle {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 40px 0px;
}
.footer-middle a img {
  width: 50px;
  height: 50px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-bottom p,
.footer-bottom a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.footer-bottom a {
  text-decoration: none;
}
